<form action="/figures/<%=@figure.id%>" method="post">
  <input type="hidden" id="hidden" name="_method" value="patch">
  <input type="text" name="figure[name]" value="<%= @figure.name%>" id="figure_name">


  <% Landmark.all.each do |landmark| %>
  <%= landmark.name %>
  <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="<%=landmark.name%>" <%='checked' if @figure.landmarks.include?(landmark)%>>
  <%end%>

  <input type="text" name="landmark[name]" value="" id="new_landmark">

  <% Title.all.each do |title| %>
  <%= title.name %>
  <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="<%=title.name%>" <%='checked' if @figure.titles.include?(title)%>>
  <% end %>

  <input type="text" name="title[name]" value="" id="new_title">

  <input type="submit" name="" value="Edit Figure">

</form>
